:root {
	--font-family: 'Fira Mono', monospace;
}


html, body{
    overflow: hidden;
    background: #fbfbfb;
	color: #3f403f;
	font-size: 16px;
	font-weight: 400;
	font-family: var(--font-family);
}

