::-webkit-scrollbar-track {
    box-shadow: none;
}

::-webkit-scrollbar {
    background: transparent;
    position: absolute;
    width: 2px;
}

::-webkit-scrollbar:hover {
    display: block;
    background: var(--color-lightGrey);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-lightGrey);
}

::-webkit-scrollbar:horizontal {
    height: 3px;
}

body {
    overflow: hidden;
    height: 100%;
}
html {
    height: 100%;
}
.ah {
    background: var(--color-light);
    border-bottom: 1px solid var(--color-lightGrey);
    padding: 5px 10px;
}
.al {
    margin-left: 10px;
    font-size: 20px;
}
.ac {
    background: var(--color-light);
}
.ppw {
    padding: 0px 16px;
}

.pp {
    border: 1px solid var(--color-lightGrey);
    margin-bottom: 10px;
}

.pph {
    padding: 6px 10px;
}

.am {
    flex: 0 0 200px;
    max-width: 200px;
}
.aml {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 16px;
}
.aml:hover {
    text-decoration: underline;
}
.hljs {
}
.aml,
.pph,
.hljs {
    border-bottom: 1px solid var(--color-lightGrey);
}
.am,
.ppw {
    border-right: 1px solid var(--color-lightGrey);
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

table.striped tr:nth-of-type(2n) {
    background-color: var(--bg-secondary-color);
}

td,
th {
    vertical-align: middle;
    padding: 1.2rem 0.4rem;
}

thead {
    border-bottom: 2px solid var(--color-lightGrey);
}

tfoot {
    border-top: 2px solid var(--color-lightGrey);
}

/* code preview */

.hljs {
    background: var(--bg-color);
    padding-left: 16px;
}
.hljs-comment,
.hljs-meta {
    color: #969896;
}
.hljs-emphasis,
.hljs-quote,
.hljs-strong,
.hljs-template-variable,
.hljs-variable {
    color: #df5000;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
    color: #d73a49;
}
.hljs-attribute,
.hljs-bullet,
.hljs-literal,
.hljs-symbol {
    color: #0086b3;
}
.hljs-name,
.hljs-section {
    color: #63a35c;
}
.hljs-tag {
    color: #333;
}
.hljs-attr,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-title {
    color: #6f42c1;
}
.hljs-addition {
    color: #55a532;
    background-color: #eaffea;
}
.hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec;
}
.hljs-link {
    text-decoration: underline;
}
.hljs-number {
    color: #005cc5;
}
.hljs-string {
    color: #032f62;
}
